main{
    width: 100%; 
    height: 100vh;
}
div.topPart {
    height: 10%; 
    width: 100%; 
    background-color: rgb(255, 204, 0);display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
}
.topPart div.inputDiv {
    width: 40%;
    margin: 40px;
}
div.inputDiv input{
    width: 100%;
    height: 40px;
    background-color: white;
    border: 2px solid black;
}
.topTitle{
    margin-right: 20%;
}
p {
    font-size:x-large;
    font-weight:bolder;
}
.middlePart{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.left-pannel1{
    height: 100%;
    width: 20%;
    text-align: center;
    background-color: rgb(51, 102, 255);
    border: 2px solid black;
    border-top: 0;
    border-bottom: 0;
}
.left-pannel1 p{
    margin-top: 30vh;
}
.pannel-red{
    width: 98%;
    height: 15%;
    background-color: rgb(255, 80, 80);
    border: 2px solid black;
}
.pannel-right{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    padding: 10px;
    border-right: 2px solid black;
}
.pannel-white{
    background-color: white;
    height: 80%;
    width: 48%;
    border: 2px solid gray;
    margin-top: 10px;
    text-align: center;
}
.pannel-white p{
    margin-top: 25vh;
}
.pannel-blue{
    background-color: rgb(51, 102, 255);
    height: 80%;
    width: 48%;
    border: 2px solid black;
    margin-top: 10px;
    text-align: center;
}
.pannel-blue p{
    margin-top: 25vh;
}
.bottomPart {
    background-color: rgb(255, 204, 0);
    height: 10vh;
    border: 2px solid black;
    text-align:left;
}
.bottomPart p{
    margin-top: 3vh;
    margin-left: 10%;
}