.block-top{
    width: 100%;
    background-color: rgb(255, 189, 89);
    padding: 5px;
}
.block-top p{
    font-size: 50px;
    font-weight: bolder;
}
.info-under{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 0;
}

.info-under div{
    background-color: rgb(255, 189, 89);
    height: 40px;
    flex: 0 1 200px;
    margin-bottom: 10px;
}
.info-under div p{
    width:70%;
    height: 80%;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    text-align: left;
    margin-left: 15%;
}
.title-big{
    font-size: 45px;
    font-weight:bold;
    margin-bottom:30px ;
}
.cards-inform{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
}
.cont-onform{
    border: 1px solid black;
    margin-bottom: 10px;
    flex: 0 1 200px
}
.number-circle{
    border: 1px solid rgb(255, 189, 89);
    background: rgb(255, 189, 89);
    border-radius: 50%;
    height: 30px;
    width: 30px;
    display: grid;
    place-items: center;
    margin-top: 10%;
    margin-left: 10%;
}
.title-block {
    margin-top: 10%;
    margin-left: 10%;
    font-size: large;
    font-weight: bold;
}
.text-simple{
    margin-top: 10%;
    margin-left: 10%;
    margin-bottom: 10%;
    font-size: medium;
    font-weight:normal;
}
img{
    width:100%;
}
.content-blc {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-between;
}
.content-blc div {
    width: 40%;
}
.content-blc p{
    letter-spacing: 1px;
    margin: 0;
    margin-bottom: 10px;
    margin-left: 15%;
    margin-right: 5%;
}
.foot {
    width: 100%;
    height: 5vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    align-content: start
}
.block-dat {
    width: 60%;
    height: 100%;
    flex: 1 0 auto;
    margin: 2px;
    background-color: black;
    color: white;
    text-align: left;
    padding-left: 10%;
    padding-top: 11px;
}
.icon-dat {
    width: 4%;
    height: 100%;
    flex: 1 0 auto;
    margin-left: 30px;
    position: relative;
    background: rgb(0, 0, 0);
}
.icon-dat img {
    /* height:fit-content; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 75%;
    width: auto;
}