header{
    padding-bottom: 40px;
    padding-top: 40px;
    text-align: center;
    font-size: bold;
    font-size: 2.0em;
}

.container{
    padding-left: 3%;
    padding-right: 3%;
    margin-left: auto;
    margin-right: auto;
}
.back-link{
    background: #535c68;
    color: #fff;
    margin: 0 auto;
    margin-top: 20px;
    
    padding: 20px;
    padding-right: 0px;
    padding-left: 0px;
    width: 350px;
    
}
.back-link a{
    width: inherit;
    color: #fff;
    padding: 20px;
    padding-right: 20px;
    padding-left: 20px;
    white-space: nowrap;
}
.back-link:hover{
    
    background: #4834d4;
}
.labs-list{
    width: 100%;
    padding-top: 40px;
}
.labs-list ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.labs-list ul li{
    flex: 1 1 150px;
    font-size: 0.6em;
    /* max-width: 10%; */
    border-bottom: 1px solid #30336b;
    /* margin: 10px; */
    padding: 10px;
    
}
.labs-list ul li a{
    color: black;
    /* padding: 20px; */
    /* padding: 20px; */
    width: 100%;
    text-align: center;
}
.labs-list ul li.active,
.labs-list ul li:hover{
    border-bottom: 4px solid #30336b;
    padding-bottom: 8px;
}
